.logo {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    opacity: 90%;
}

.sign-up {
    text-align: center;
    margin-top: 50px;
    color: midnightblue;
}

.form-group {
    padding: 5px;
    margin: auto;
    width: 400px;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logout-confirm {
    text-align: center;
    margin-top: 50px;
    color: midnightblue;
}

.welcome-home {
    text-align: center;
    margin-top: 50px;
    color: midnightblue;
}

.testing-menu-item{
    color: white;
}

.testing-menu-item:hover{
    color: dimgrey;
}

.testing-titles{
    text-align: center;
    margin-top: 50px;
    color: midnightblue;
    font-size: 36px;
}

.cosmetic-form-titles{
    text-align: left;
    margin-top: 5px;
    color: midnightblue;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
/* Style the cosmetic testing form */
#regForm {
  background-color: #ffffff;
  margin: 100px auto;
  padding: 40px;
  width: 50%;
  min-width: 200px;
}

/* Style the input fields */
input {
  padding: 15px;
  width: 100%;
  font-size: 17px;
    font-family: Raleway, serif;
  border: 2px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    margin-top: 20px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.75;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
.cos-options{
    display: block;
    margin-top: 20px;
}

fieldset{
    border-style: ridge;
    border-width: thin;
    margin-bottom: 10px;
}

.dent-select{
    margin-top: 20px;
}