.logo {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    opacity: 90%;
}

.sign-up {
    text-align: center;
    margin-top: 50px;
    color: midnightblue;
}

.sign-up-form {
    color: midnightblue;
    padding: 15px;
    margin: auto;
    width: 400px;
}

.form-group-admin {
    color: midnightblue;
    text-align: center;
    padding: 5px;
    margin: auto;
    width: 250px;
}

.form-group {
    padding: 5px;
    margin: auto;
    width: 400px;
}

.imei-scan{
    padding:40px;
    border-radius: 10px;
}

.navbar-toggler{
    background-color: #507CD1;
    font-size: 16px;
}

.navbar-toggler-icon{
    position: relative;
    display: inline;
    color: white;
}
.user-name-login{
    color: white;
    float: right;
    margin-bottom: 0;
    width: 400%;
}

#user-welcome{
    margin: 0 0 0 90%;
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logout-confirm {
    text-align: center;
    margin-top: 50px;
    color: midnightblue;
}

.welcome-home {
    text-align: center;
    margin-top: 50px;
    color: midnightblue;
}

.testing-menu-item{
    color: white;
}

.testing-menu-item:hover{
    color: dimgrey;
}

.testing-titles{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: midnightblue;
    font-size: 36px;
}

.current-phone-data-area{
    border-radius: 10px;
    background-color: #c1cede;
    border: 1px solid #4C3A51;
    padding: 20px;
    margin-top: 30px;
    width: 40%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.login100-form-btn {
    font-family: Poppins-Medium, serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;
    text-transform: uppercase;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    background-color: #507CD1;
    border-radius: 25px;
    box-shadow: 0 10px 30px 0px rgb(55 71 165 / 50%);
    -moz-box-shadow: 0 10px 30px 0px rgba(55, 71, 165, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgb(55 71 165 / 50%);
    -o-box-shadow: 0 10px 30px 0px rgba(55, 71, 165, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(55, 71, 165, 0.5);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


.cosmetic-form-titles{
    text-align: left;
    margin-top: 5px;
    color: midnightblue;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.grading-result{
    text-align:center;
    border-radius: 10px;
    background-color: #d0d6bf;
    margin: 100px auto;
    padding: 40px;
    width: 60%;
    height: 400px;
    min-width: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Style the cosmetic testing form */
#regForm {
    border-radius: 10px;
  background-color: #c1c9d4;
  margin: 100px auto;
  padding: 40px;
  width: 60%;
  min-width: 200px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

/* Style the input fields */
input {
  padding: 15px;
  width: 100%;
  font-size: 17px;
    font-family: Raleway, serif;
  border: 2px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    margin-top: 20px;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.75;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #142e52;
}

.cos-options{
    display: block;
    margin-top: 20px;
}

fieldset{
    border-style: ridge;
    border-width: thin;
    margin-bottom: 10px;
}

.dent-select{
    margin-top: 20px;
}