{% extends 'testing_base.html' %}
{% block title %}Cosmetic Testing{% endblock %}
{% block sub_title %}
{% endblock %}
{% block content %}
<h3 class="testing-titles">Cosmetic grading page one: IMEI and Battery</h3>
<form id="regForm" method="POST">
<p class="cosmetic-form-titles">Phone: {{data['Model']}} {{data['Memory']}} {{data['Color']}} </p>
  <p class="cosmetic-form-titles">Tested by: {{data['TesterName']}}</p>
<div class="tab">
  <label for="imei">IMEI:</label>
  <p><input class="form-control" value={{data['IMEI']}} id="imei" name="imei" readonly oninput="this.className = ''"></p>
  <label for="battery">Battery:</label>
  <p><input class="form-control" value={{data['BatteryHealthPercentage']}} id="battery" name="battery" readonly oninput="this.className = ''"></p>
</div>

<div class="tab">Scratches:
  <!-- make drop box -->
  <p><input class="form-control" placeholder="Any scratches..." oninput="this.className = ''"></p>
</div>

<div class="tab">Dents:
  <p><input class="form-control" placeholder="Any dents..." oninput="this.className = ''"></p>
</div>

<div class="tab">LCD:
  <!-- LCD boolean -->
  <p><input class="form-control" placeholder="Any LCD discoloration..." oninput="this.className = ''"></p>
</div>

<div class="tab">Components:
   <!-- Com boolean -->
  <p><input class="form-control" placeholder="Any components missing..." oninput="this.className = ''"></p>
</div>

<div class="tab">Cracks:
  <p><input class="form-control" placeholder="Any cracks..." oninput="this.className = ''"></p>

</div>

<div class="tab">Markings:
  <p><input class="form-control" placeholder="Any markings..." oninput="this.className = ''"></p>
</div>

<div style="overflow:auto;">
  <div style="float:right;">
    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
  </div>
</div>

<!-- Circles which indicates the steps of the form: -->
<div style="text-align:center;margin-top:40px;">
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
  <span class="step"></span>
</div>


</form>
{% endblock %}

