{% extends 'testing_base.html' %}
{% block title %} Dents {% endblock %}
{% block content %}
<form method="POST">
    <h3 class="sign-up">Dents</h3>
    <div class="form-group">
        <form>
            <input type="radio" class="form-control" id="dents1" name="dents" value="None">
            <label for="dents1">None/Very Light</label><br>
            <input type="radio" class="form-control" id="dents2" name="dents" value="Small">
            <label for="dents2">Few/Small</label><br>
            <input type="radio" class="form-control" id="dents3" name="dents" value="Deep">
            <label for="dents3">Multiple/Deep</label>
        </form>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}