{% extends 'testing_base.html' %}
{% block title %} LCD Discoloration {% endblock %}
{% block content %}
<form method="POST">
    <h3 class="sign-up">LCD Discoloration</h3>
    <div class="form-group">
        <form>
            <input type="radio" class="form-control" id="lcd-discoloration1" name="lcd-discoloration-yes" value="Yes">
            <label for="lcd-discoloration1">Yes</label><br>
            <input type="radio" class="form-control" id="lcd-discoloration2" name="lcd-discoloration-no" value="No">
            <label for="lcd-discoloration2">No</label><br>
        </form>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}