{% extends 'base.html' %}
{% block title %} Login {% endblock %}
{% block content %}
<form method="POST">
    <h3 class="sign-up">Login</h3>
    <div class="form-floating form-group mb-3">
        <input type="text" class="form-control" id="uName" name="uName" placeholder="Enter username">
        <label for="uName">User Name</label>
    </div>
    <div class="form-floating form-group mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password">
        <label for="password">password</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}