{% extends 'testing_base.html' %}
{% block title %} Markings {% endblock %}
{% block content %}
<form method="POST">
    <h3 class="sign-up">Markings</h3>
    <div class="form-group">
        <form>
            <input type="radio" class="form-control" id="markings1" name="markings-yes" value="Yes">
            <label for="markings1">Yes</label><br>
            <input type="radio" class="form-control" id="markings2" name="markings-no" value="No">
            <label for="markings2">No</label><br>
        </form>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}